# Python
venv/
.venv/
__pycache__/
*.pyc

# Environment variables
.env

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars

# macOS
.DS_Store

# IDE
.vscode/
.idea/